html body {
	padding-top: 50px;
	height: 100%;
	background-image: url("http://fc07.deviantart.net/fs70/f/2013/174/3/e/recycled_texture_background_by_sandeep_m-d6aeau9.jpg");
    background-attachment: fixed;
}

html body .jumbotron {
	margin-top: 30px;
}

.form-inline {
	margin-top: 20px;
	margin-bottom: 30px;
}

.btn-facebook {
	background-color: #2D4373;
}

.btn-google-plus {
	background-color: #DD4B39;
}

.btn-social {
	color: white;
	max-width: 260px;
	display: block;
}

.btn:hover {
	color: white;
}

form p {
	text-align: center;
	border-bottom: 1px solid black;
}

.searchTitle {
	text-align: center;
	color: #9d9d9d;
	font-weight: bold;
	font-size: 45px;
}

.thumbnail {
	height: 345px;
	background-color: transparent;
	border: none;
}

.thumbnail img {
	height: 250px !important;
	object-fit: cover;
}

h5 {
	color: white;
}

form {
	margin-bottom: 15px;
}

img {
	height: 115px !important;
	object-fit: cover;
}

.myGrid {
    width: 100%;
    height: auto;
    background-color: white;
}

.ui-grid-row { display : table-row; height: auto !important; position: static; } 
.ui-grid-cell-contents{ height: auto !important; white-space: normal; overflow:visible; }

.backgroundContainer {
	background-color: #9d9d9d;
	padding-top: 15px;
}

.pageTitle {
	margin-top: 0px;
	margin-left: 15px;
}

.updateButton {
	float: right;
}

.counter {
	float: right;
	margin-top: 6px;
}

.backgroundContainer .form-inline {
	margin: 0;
}

.row {
	padding: 0 15px;
}

.modal-header {
	background-color: black;
}

.bootstrap-dialog-title {
	color: white;
}